// Brands
$brand-primary: #4b5fe2;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// loader vars
$loader-bg-transparency: 0.7;
$loader-bg-color: rgb(211, 211, 211);

// menu
$menu-text-color: black;
$menu-bg-active: #fafafa;

$positive: #fafafa;
